<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <h1>
        <%= @post.title %>
      </h1>
      <p>
        <%= @post.user.last_name %> <%= @post.user.first_name %>
      </p>
      <h2>
        <%= @post.content %>
      </h2>
      <div class="post-time">
        <h3>
          <%= @post.created_at %>
        </h3>
      <div class="post-menus">
        <% if session[:user_id] == @post.user_id %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy",{method: "post"}) %>
        <% end %>
      </div>
      <div class="comment-index">
        <% @post.comments.each do |comment| %>
          <div>
            <%= comment.user.last_name %> <%= comment.user.first_name %>
            <%= comment.content %>
            <p><%= comment.created_at %></p>
          </div>
        <% end %>
      </div>    
    </div>
  </div>
</div>